<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Subway++ | Take less time to get your times</title>
    <link rel="stylesheet" href="/css/master.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700" rel="stylesheet">
  </head>
  <body>

    <%- include partials/_navbar %>
    <div class="hp-banner">
    <h4>Your one stop for all of your subway time needs</h4>
    <hr/>
    </div>

    <%- include partials/_favoriteFeeder.ejs %>
    <h2 class="subtitle">Lines</h2>
    <% for (line of lineNames) { %>
      <a class="line-wrap" href=<%= `/lines/${line}`%> ><div class="line-name line-type-<%= line %>" data-line=<%= line %>><%= line %></div></a>
    <% } %>

  </body>
  <footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/scripts/homepageRefresher.js"></script>
  </footer>
</html>
