<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title><%= line %> Line</title>
  <link rel="stylesheet" href="/css/master.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700" rel="stylesheet">
</head>

<body>
  <%- include partials/_navbar %>
  <div class="hp-banner">
  <h4>Select a stop to view train times. You may also create an account and save your favorite lines to see them on your hompage</h4>
  <hr/>
  </div>

  <h2 class="lineTitle subtitle"><%= line %></h2>
  <div class="lineWrap" data-line=<%= line %>>
  </div>
  <% for (let stop of stops) { %>
    <a href=<%=`/stops/${stop[0]}&${feedId}&${stop[1].split(' ').join('+')}`%>><li class='line-type-<%= line %> stop'><%= stop[1] %></li></a>
  <% } %>
</body>

</html>
