<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>
    <%= stop %>
  </title>
</head>

<body>
  <%- include partials/_navbar %>

  <div class="favoriteBtnWrap">
    <form class="" action="/favorite" method="post">
      <input type="text" name="username" style="display:none;" value=<%= username %>  />
      <input type="text" name="stopId" style="display:none;" value=<%= stop %>  />
      <input type="text" name="feedId" style="display:none;" value=<%= feed %>  />

      <button type="submit" name="button">favorite</button>
    </form>
  </div>

  <ul>
    <h2>Northbound</h2>
    <% for (let i=0;i<station[1]['est'].length;i++) { %>
      <% var train = station[0]['data'][i] %>
      <% if (!train) continue %>

      <li>
        <strong style="margin:20px;"><%= train['routeId'] %></strong>
        <span class="est" data-index=<%= i %>><%= station[0]['est'][i] %> Minutes</span>
      </li>
    <% } %>

  </ul>

  <ul>
    <h2>Southbound</h2>
    <% for (let i=0;i<station[1]['est'].length;i++) { %>
      <% var train = station[1]['data'][i] %>
      <% if (!train) continue %>

      <li>
        <strong style="margin:20px;"><%= train['routeId'] %></strong>
        <span class="est" data-index=<%= i %>><%= station[1]['est'][i] %> Minutes</span>
      </li>
    <% } %>
  </ul>

</body>

</html>
