<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>
    <%= stop %>
  </title>
  <link rel="stylesheet" href="/css/master.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700" rel="stylesheet">
</head>

<body>
  <%- include partials/_navbar %>

  <div class="favoriteBtnWrap">
    <form class="favorite-form" action="/favorite" method="post">
      <input type="text" name="username" style="display:none;" value=<%= username %>  />
      <input type="text" name="stopId" style="display:none;" value=<%= stop %>  />
      <input type="text" name="feedId" style="display:none;" value=<%= feed %>  />
      <input type="text" name="stationName" style="display:none;" value="<%= `${station.name}` %>" />


      <button type="submit" name="button">favorite</button>
    </form>
  </div>

  <h2 class="subtitle"><%= station.name %></h2>

  <ul class="times-wrapper">
    <h2>Northbound</h2>
    <% for (let i=0;i<station[1]['est'].length;i++) { %>
      <% var train = station[0]['data'][i] %>
      <% if (!train) continue %>

      <li class="line-type-<%= train['routeId'] %>">
        <strong style="margin-right:20px;"><%= train['routeId'] %></strong>
        <span class="est" data-index=<%= i %>><%= station[0]['est'][i] %> Minutes</span>
      </li>
    <% } %>

  </ul>

  <ul class="times-wrapper">
    <h2>Southbound</h2>
    <% for (let i=0;i<station[1]['est'].length;i++) { %>
      <% var train = station[1]['data'][i] %>
      <% if (!train) continue %>

      <li class="line-type-<%= train['routeId'] %>">
        <strong style="margin-right:20px;"><%= train['routeId'] %></strong>
        <span class="est" data-index=<%= i %>><%= station[1]['est'][i] %> Minutes</span>
      </li>
    <% } %>
  </ul>

</body>
<footer>
  <script type="text/javascript" src="/scripts/autoRefreshTemp.js"></script>
</footer>
</html>
